[submodule "sacred-anonymity-mining"]
	path = sacred-anonymity-mining
	url = git@github.com:Sacred-Finance/sacred-anonymity-mining.git
	branch = v2
[submodule "sacred-token"]
	path = sacred-token
	url = git@github.com:Sacred-Finance/sacred-token.git
[submodule "sacred-governance"]
	path = sacred-governance
	url = git@github.com:Sacred-Finance/sacred-governance.git
[submodule "sacred-pool"]
	path = sacred-pool
	url = https://github.com/Sacred-Finance/sacred-pool.git
[submodule "sacred-tree"]
	path = sacred-tree
	url = https://github.com/Sacred-Finance/sacred-trees.git
